*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

body{
    background: #F5F5F5;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 10px;
}



.form{
    width: 850px;
    height: 135px;
    background-color: #FFFFFF;
    margin-top: 50px;
    margin-left: 130px;
    
}

.hr{
    background-color:rgba(24, 24, 24, 0.2) ;
}

.form h2{
    font-size: 10px;
    padding-top: 25px ;
    padding-left: 30px;
    padding-bottom: 20px;
}

.frist{
    border: none;
    width: 196px;
    height: 17px;
    font-family: 'Gotham Pro';
    font-size: 18px;
    line-height: 17px;
    color: rgba(24, 24, 24, 0.2);
    padding: 25px 30px;

}

.hr{
    width: 850px;
    background-color: rgba(24, 24, 24, 0.2);
    height: 1px;
}


.button_tg{
    background: #0077B5;
    border-radius: 4px;
    width: 32px;    
    height: 32px;
    border: none; 
}


.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons_input{
    display: flex;
    gap: 28px;
    padding: 25px 30px;
}

.sort_by{
    margin-top: 35px;
    margin-left: 482px;
}

.box{
    width: 850px;
    height: 285px;
    background-color: #FFFFFF;
    margin-left: 130px;
    margin-top: 35px;
    
}


.circles{
    border-radius: 50%;
    background-color: black;
    width: 2px;
    height: 2px;
}


.head_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.items{
    display: flex;
    gap: 3px;
    margin-right: 21px;
}



.head_box p{
    padding: 15px;
}

.w_img{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.box_p{
    margin-top: 15px;
}

.box_a{
    margin-top: 15px;
}